<aside
    class="col-12 container-fluid align-content-around justify-content-around h-100"
  >
    <!-- promerio de horas mensuales -->
    <div class="average-hours">
      <h2>Promedio de horas mensuales</h2>
      <span>120</span>
    </div>
    <!-- extras del ultimo mes  -->
    <div class="extra-hours">
      <h3>Horas extras del último mes</h3>
      <span>15</span>
    </div>
    <!-- horas pendientes por cobrar  -->
    <div class="extra-hours">
      <h3>Horas extras pendientes por cobrar</h3>
      <span>1.5</span>
    </div>
  </aside>